html, body {
    height: 100%;
}

.ui-widget {
    font-family: "Open Sans", sans-serif;
    overflow: scroll;
    position: relative;
    width: 100%;
    height: 100%;
}

#Noogle {
    display: inline-block;
    float: left;
    width: 40%;
    height: 35%;
}

#searchContainer {
    position: relative;
    display: inline-block;
    float: left;
    width: 40%;
    height: 35%;
    #noogleSearch {
        left: 15%;
    }
    #feelingLucky {
        left: 45%;
    }
}

#searchBarContainer {
    position: absolute;
    top: 43%;
    width: 100%;
    height: 14%;
}

#tags {
    position: relative;
    width: 90%;
    height: 100%;
    border: 1px solid black;
    float: left;
    border: {
        top: 1px solid lightgray;
        left: 1px solid lightgray;
        bottom: 1px solid lightgray;
        right: none;
    }
    padding: 0;
    box-shadow: 0px 3px 0px #888888;
    &:focus {
        border: {
            top: 1px solid lightgray;
            left: 1px solid lightgray;
            bottom: 1px solid lightgray;
            right: none;
        }
        outline: 0;
    }
}

#delete {
    display: inline-block;
    background-color: white;
    outline: none;
    float: left;
    border: {
        top: 1px solid lightgray;
        right: 1px solid lightgray;
        bottom: 1px solid lightgray;
        left: none;
    }
    width: 8.8%;
    height: 100%;
    box-shadow: 0px 3px 0px #888888;
}

#noogleSearch, #feelingLucky {
    border: none;
    background-color: #E0E0E0;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 1.5%;
    color: #616161;
    position: absolute;
    top: 70%;
    &:hover {
        color: black;
        border: 1px solid black;
    }
    &:focus {
        outline: 1px solid #4285f4;
    }
}

#noogleDescription {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 50%;
}   